body {
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f6f6;
  color: #304455;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

code {
  font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", "monospace";
  padding: 2px 4px;
  border: none;
  font-size: 14px;
  color: #c7254e;
  background-color: #f2f2f2;
  vertical-align: middle;
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: inherit; /* blue colors for links too */
}

.imBBtt {
  border: none!important;
}
