body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-div {
  margin: 150px auto;
  width: 400px;
}

.container, #root {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
}

.container .header {
  color: #1890ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header button {
  background: #001529;
  color: white;
}

.main {
  padding: 1em;
}

.tagGroup .site-tag-plus {
  background: #fff;
  border-style: dashed;
}
.tagGroup .edit-tag {
  user-select: none;
}
.tagGroup .tag-input {
  width: 78px;
  margin-right: 8px;
  vertical-align: top;
}

.ant-form-item-control-input-content > #basic_content {
  height: 500px!important;
  overflow-y: auto;
  resize: none;
}

/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}